@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: false;
};

@plugin "./macchiato.ts";

* {
	font-family: 'Roboto Flex', 'Roboto', sans-serif;
}

.center {
	margin: auto;  /* horizontally center */
	width: 50%;
}
